$screen-lg: 1120px;

$font-family: "TT Lakes", "Arial", sans-serif;


html, body {
  height: 100%;
  width: 100%;
  font-family: $font-family;
  font-weight: 500;
  line-height: 1;
}
.body--disabled {
  position: fixed;
  overflow: hidden;
}
.wrapper {
  background: #F8F8F8;
  min-height: 100%;
  overflow: hidden;
}
@media (min-width: $screen-lg) {
  .additional-wrapper {
    display: flex;
  }
}
