
.devices__item {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid rgba(234, 234, 234, 1);
    border-radius: 7px;
    height: 160px;
    max-width: 240px;
    margin: 16px 0 40px 16px;
}
.devices__item-title {
    font-family: "TTLakes", "Arial", sans-serif;
    padding: 16px;
}
.devices__item > .button__all-info {
    align-self: flex-end;
    margin-bottom: 16px;
}
@media (max-width: 767px) {

}

@media (min-width: 768px) {

    .devices {
        display: flex;
        margin-top: 24px;
    }
    .devices__item {
        margin: 0;
        max-width: 224px;
        display: flex;
        align-content: center;
        justify-content: space-between;
    }
}
@media (min-width: 1120px) {

    .devices {
        display: flex;
        height: 200px;

    }
    .devices__item {
        max-width: 240px;
        display: flex;
        align-content: center;
        justify-content: space-between;
    }
}