@font-face {
    font-family: "TTLakes";
    src: url("fonts/TTLakes-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "TTLakes";
    src: url("fonts/TTLakes-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "TTLakes";
    src: url("fonts/TTLakes-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
body {
    margin: 0;
    padding: 0;
    font-family: "TTLakes", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1;
    font-size: 16px;
}
.side-wrap {
    position: fixed;
    width: 320px;
    height: 100%;
    background: #FFFFFF;
    box-shadow: -2px 0 4px rgba(69, 79, 126, 0.02), 16px 0 52px rgba(14, 24, 80, 0.2);
    overflow-y: scroll;
}
.header {
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.button--burger {
    margin-left: 24px;
}
.button {
    padding: 0;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.button:hover {
    opacity: .6;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
}
.header__logo {
    margin-left: 16px;
    margin-right: 40px;
}
.button--search {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 24px;
}
.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu__item--link--active:before {
    content: "";
    display: block;
    width: 4px;
    height: 32px;
    background-color: rgba(65, 246, 215, 1);
    float: left;
    border-radius: 7px;
    margin-top: -7px;
    margin-left: -24px;
}
.menu__item--link {
    display: block;
    margin: 32px 0 0 24px;
    text-decoration: none;
    color: rgba(27, 28, 33, 1);
}
.menu__item--link--active {
    color: rgba(126, 126, 130, 1);
}
.footer {
    position: absolute;
    bottom: -100px;
}
.contacts {
    display: flex;
    flex-direction: column;
}
.contacts__button {
    margin-bottom: 16px;
    margin-left: 24px;
}
.contacts__link {
    display: flex;
    flex-wrap: wrap;
}
.link--mail {
    margin-bottom: 12px;
    margin-left: 24px;
    text-decoration: none;
    color: rgba(27, 28, 33, 1);
}
.link--phone {
    font-size: 24px;
    font-weight: bold;
    margin-left: 24px;
    text-decoration: none;
    color: rgba(27, 28, 33, 1);
}
.languages {
    margin: 40px 0 32px 24px;
}
.languages__link {
    color: rgba(27, 28, 33, 1);
    text-decoration: none;
}
.languages__link:hover, .languages__link--active, .link--phone:hover, .link--mail:hover, .menu__item--link:hover {
    color: rgba(126, 126, 130, 1);
}
.button--call, .button--chat, .button--profile {
    margin-right: 16px;
}