@font-face {
    font-family: "TT Lakes";
    src: url("fonts/TTLakes-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "TT Lakes";
    src: url("fonts/TTLakes-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
html, body {
    height: 100%;
    width: 100%;
    background-color: #F2F2F2;
    margin: 0;
}
.header:before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(217, 255, 245, 1);
}
.header {
    background: linear-gradient(to right, #F8F8F8, #FFFFFF);
}
.header__title {
    font-family: "TT Lakes";
    color: #7E7E82;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    padding: 16px;
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
.brands-list__item {
    background: #FFFFFF;
    border: 1px solid rgba(234, 234, 234, 1);
    border-radius: 7px;
    height: 72px;
    max-width: 240px;
    margin: 16px 0 40px 16px;
}
.button__all-info {
    width: 40px;
    height: 40px;
    border: 1px solid #FF3E79;
    border-radius: 50%;
    background: #FFFFFF;
    position: relative;
    float: right;
    top: 15px;
    right: 10px;
    cursor: pointer;
}
.button__all-info:after {
    position: absolute;
    top: 14px;
    left: 12px;
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    border-left: 2px solid #FF3E79;
    border-bottom: 2px solid #FF3E79;
    transform: rotate(225deg);
}
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #B5B6BC;
}
.button__all-list {
    border: none;
    background-color: transparent;
    font-family: "TT Lakes";
    font-size: 16px;
    font-weight: 500;
    cursor:pointer;
}
@media (max-width: 576px) {
    .button__all-list {
        display: none;
    }
}

@media (min-width: 577px) and (max-width: 770px) {
    .header__title {
        padding-left: 24px;
    }
    .swiper-pagination {
        display: none;
    }
    .brands-list {
        display: grid;
        width: 90%;
        max-width: 720px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-row-gap: 16px;
        grid-column-gap: 24px;
    }
    .brands-list__item {
        display: inline-block;
        margin: 0;
        max-width: 224px;
    }
    .icon-more {
        margin-right: 16px;
        margin-left: 32px;
    }
}
@media (min-width: 771px) and (max-width: 1440px) {
    .header__title {
        padding-left: 32px;
    }
    .swiper-pagination {
        display: none;
    }
    .brands-list {
        display: grid;
        width: 90%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-row-gap: 16px;
        grid-column-gap: 36px;
    }
    .icon-more {
        margin-right: 16px;
        margin-left: 39px;
    }
    .brands-list__item {
        margin:0;
        max-width: 224px;
        display: inline-block;
    }
}