.side-wrap {
    visibility: hidden;
    position: fixed;
    width: 320px;
    height: 100%;
    overflow-y: scroll;
    background: #FFFFFF;
    box-shadow: -2px 0 4px rgba(69, 79, 126, 0.02), 16px 0 52px rgba(14, 24, 80, 0.2);
    z-index: 2;
}
@media (min-width: 320px) {
    .side-wrap {
        top: 0;
    }
}
@media (min-width: 1120px) {
    .side-wrap {
        visibility: visible;
        top: 0;
        box-shadow: none;
        overflow-y: unset;
        z-index: 0;
    }
}
.side-wrap--show {
    visibility: visible;
    transform: translateX(-150%);
    animation: ani 1s forwards;
}
@keyframes ani {
    0% {transform: translateX(-150%);}
    100% {transform: translateY(0);}
}

.header {
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (min-width: 1120px) {
    .header {
        margin-top: 10px;
    }
}
.button--burger {
    margin-left: 16px;
}
@media (min-width: 768px) {
    .button--burger {
        margin-left: 24px;
    }
}
@media (min-width: 1120px) {
    .button--burger {
        display: none;
    }
}
.button {
    padding: 0;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.button:hover {
    opacity: .6;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
}
.header__logo {
    margin-left: 16px;
    margin-right: 40px;
}
.button--search {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 24px;
}
.side-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.side-menu__item--link--active:before {
    content: "";
    display: block;
    width: 4px;
    height: 32px;
    background-color: rgba(65, 246, 215, 1);
    float: left;
    border-radius: 7px;
    margin-top: -7px;
    margin-left: -24px;
}
.side-menu__item--link {
    display: block;
    margin: 32px 0 0 24px;
    text-decoration: none;
    color: rgba(27, 28, 33, 1);
}
.side-menu__item--link--active {
    color: rgba(126, 126, 130, 1);
}
.side-footer {
    position: absolute;
    bottom: -150px;
}
@media (min-width: 1120px) {
    .side-footer {
        bottom: unset;
    }
}
@media (min-width: 1200px) {
    .side-footer {
        bottom: -13px;
    }
}
.contacts {
    display: flex;
    flex-direction: column;
}
.contacts__button {
    margin-bottom: 16px;
    margin-left: 24px;
}
.contacts__link {
    display: flex;
    flex-wrap: wrap;
}
.link--mail {
    margin-bottom: 12px;
    margin-left: 24px;
    text-decoration: none;
    color: rgba(27, 28, 33, 1);
}
.link--phone {
    font-size: 24px;
    font-weight: bold;
    margin-left: 24px;
    text-decoration: none;
    color: rgba(27, 28, 33, 1);
}
.languages {
    margin: 40px 0 32px 24px;
}
.languages__link {
    color: rgba(27, 28, 33, 1);
    text-decoration: none;
}
.languages__link:hover, .languages__link--active, .link--phone:hover, .link--mail:hover, .side-menu__item--link:hover {
    color: rgba(126, 126, 130, 1);
}
.button--call, .button--chat, .button--profile {
    margin-right: 16px;
}