 @font-face {
    font-family: "TT Lakes";
    src: url("fonts/TTLakes-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
 @font-face {
    font-family: "TT Lakes";
    src: url("fonts/TTLakes-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
 @font-face {
    font-family: "TT Lakes";
    src: url("fonts/TTLakes-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    font-family: "TT Lakes", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1;
    background-color: #F2F2F2;
}
.body--disabled {
    position: fixed;
    overflow: hidden;
}
.menu {
    height: 88px;
    background: #FFFFFF;
    font-family: "TTLakes", "Arial", sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-left, .menu-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu__button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 16px;
}
.menu__button--burger {
    margin-left: 16px;
}
.menu__logo {
    width: 96px;
    height: 50px;
}
.menu__first-line, .menu__second-line {
    width: 2px;
    height: 32px;
    background: #EAEAEA;
    margin-right: 20px;
}
.menu__button:hover {
    opacity: .6;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
}
.heading {
    font-size: 28px;
    margin: 24px 16px 24px 16px;
}
.line-heading {
    position: absolute;
    background-color: #41F6D7;
    width: 4px;
    height: 40px;
    top: 105px;
    border-radius: 2px;
}
.wrapper {
    background: #F8F8F8;
}
.main__menu {
    overflow-x: scroll;
    width: 100%;
}
.main__menu-slide {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    margin-left: 16px;
    column-gap: 10px;
}
.main__menu-slide::-webkit-scrollbar {
    width: 0;
}
 .menu-slide__item {
    box-sizing: border-box;
    list-style-type: none;
    padding: 12px 10px 0 10px;
    white-space: pre;
    margin: 4px 0 2px 0;
}
 .menu-slide__item--active {
    outline: 2px solid #B8FFEC;
    background: #FFFFFF;
    border-radius: 6px;
    height: 40px;
}
.menu-slide__item--link {
    text-decoration: none;
    text-align: center;
    color: #7E7E82;
    font-size: 16px;
}
.menu-slide__item:hover {
    outline: 2px solid #B8FFEC;
    border-radius: 6px;
    height: 40px;
}
 .menu-slide__item:focus {
     border: 2px solid #B8FFEC;
     background: #FFFFFF;
     border-radius: 6px;
 }
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text p {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}
.main-image {
    width: 100%;
    text-align: center;
    margin-top: 24px;
 }
.text__button--more {
     border: none;
     background-color: transparent;
     font-family: "TT Lakes", "Arial", sans-serif;
     font-size: 16px;
     font-weight: 500;
     cursor:pointer;
     margin-left: 16px;
 }
.text__button--more:hover {
     color: #7E7E82;
 }
.icon-more {
     margin-left: 24px;
 }
.wrapper {
    min-height: 100%;
    overflow: hidden;
}

@media (max-width: 767px) {
    .menu__button--call, .menu__button--chat, .menu__button--profile, .menu__first-line{
        display: none;
        overflow: hidden;
    }
    .text {
        margin: 24px 16px 16px 16px;
        height: auto;
    }
    .second-paragraph {
        display: none;
        overflow: hidden;
    }
    .button--repair-title, .button--check-title {
        display: none;
        overflow: hidden;
    }
}

@media (min-width: 768px) {
    .swiper-wrapper {
        display: none;
    }
    .menu__button--burger {
        margin-left: 24px;
    }
    .menu__button--check {
        margin-right: 24px;
    }
    .main__menu-slide {
        margin-left: 24px;
    }
    .section {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .section__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        overflow: hidden;
    }
    .heading {
        margin: 24px 0 32px 24px;
    }
    .button--repair-title, .button--check-title {
        display: none;
        overflow: hidden;
    }
    .text {
        margin-right: 30px;
        margin-left: 24px;
    }
    .text p {
         font-size: 14px;
         line-height: 20px;
     }
    .second-paragraph {
        height: 58px;
        overflow: hidden;
    }
    .text__button--more {
        margin: 13px 0;
    }
    .icon-more {
        margin-right: 16px;
        margin-left: 32px;
    }
    .main-image {
        align-self: flex-end;
        height: auto;
        width: 360px;
        margin-right: 40px;
        border-radius: 7px;
    }
}

@media (min-width: 1120px) {
    .main {
        position: relative;
        top: -80px;
    }
    .line-heading {
        position: absolute;
        top: -4px;
    }
    .heading {
        margin: 42px 0 11px 32px;
    }
    .menu__button--burger, .menu__first-line, .menu__logo, .menu__second-line, .menu__button--call, .menu__button--chat, .menu__button--profile {
        display: none;
        overflow: hidden;
    }
    .menu__button--repair, .menu__button--check {
        width: auto;
        margin: 40px 32px 0 0;
        z-index: 1;
    }
    .button--check-title,  .button--repair-title {
        float: left;
        display: block;
        margin-top: 12px;
        margin-right: 9px;
        font-family: "TT Lakes", "Arial", sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: rgba(27, 28, 33, 1);
    }
    .menu {
        background: #F8F8F8;
        justify-content: flex-end;
    }
    .main__menu {
        overflow: hidden;
    }
    .main__menu-slide {
        width: 100%;
        flex-wrap: wrap;
        margin-left: 34px;
    }
    .section {
        flex-direction: row;
        align-items: flex-start;
    }
    .section__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .text {
        margin: 19px 0 14px 34px;
    }
    .text p {
        font-size: 14px;
        line-height: 20px;
    }
    .main-image {
        width: 532px;
        border-radius: 7px;
        margin: 19px 28px 0 36px;
    }
    .icon-more {
        margin-right: 16px;
        margin-left: 39px;
    }
}