$screen-sm: 767px;
$screen-md: 768px;
$screen-lg: 1120px;

$color-main: #FFFFFF;
$gray-dark: #7E7E82;

$font-family: "TT Lakes", sans-serif;

.button-all {
  @media (max-width: $screen-sm) {
    display: none;
  }

  .icon-more {
    @media (min-width: $screen-md) {
      margin-right: 16px;
      margin-left: 32px;
    }
    @media (min-width: $screen-lg) {
      margin-right: 16px;
      margin-left: 39px;
    }
    &--reverse {
      transform: rotateX(180deg);
    }
  }

  &__brands {
    border: none;
    background-color: transparent;
    font-family: $font-family;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 24px;
    padding: 0;

    &:hover {
      color: $gray-dark;
    }
  }
  &__devices {
    border: none;
    background-color: transparent;
    font-family: $font-family;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    padding: 0;
    margin-top: 16px;

    &:hover {
      color: $gray-dark;
    }
  }
}
