$screen-sm: 767px;
$screen-md: 768px;
$screen-lg: 1120px;

$color-marine: #41F6D7;

.heading {
  font-size: 28px;
  margin: 24px 16px 24px 16px;

  @media (min-width: $screen-md) {
    margin: 24px 0 32px 24px;
  }
  @media (min-width: $screen-lg) {
    margin: 42px 0 11px 32px;
  }
  &::before {
    content: '';
    position: absolute;
    background-color: $color-marine;
    width: 4px;
    height: 40px;
    top: 105px;
    left: 0;
    border-radius: 2px;

    @media (min-width: $screen-lg) {
      position: absolute;
      top: 34px;
      left: 321px;
    }
  }
}

