$screen-md: 768px;
$screen-lg: 1120px;

$color-marine: #41F6D7;
$color-marine-bright: #B8FFEC;
$color-main: #FFFFFF;
$gray-dark: #7E7E82;


.main {
  @media (min-width: $screen-lg) {
    position: relative;
    width: 76%;
    top: -80px;
    left: 321px;
  }

  .main__menu {
    overflow-x: scroll;
    width: 100%;

    @media (min-width: $screen-lg) {
      overflow: hidden;
    }

    .main__menu-slide {
      display: flex;
      flex-wrap: nowrap;
      align-items: baseline;
      margin-left: 16px;
      column-gap: 10px;

      @media (min-width: $screen-md) {
        margin-left: 24px;
      }

      @media (min-width: $screen-lg) {
        width: 100%;
        flex-wrap: wrap;
        margin-left: 34px;
      }

      &::-webkit-scrollbar {
        width: 0;
      }

      .menu-slide__item {
        box-sizing: border-box;
        list-style-type: none;
        padding: 12px 10px 0 10px;
        white-space: pre;
        margin: 4px 0 2px 0;

        &--active {
          outline: 2px solid $color-marine-bright;
          background: $color-main;
          border-radius: 6px;
          height: 40px;
        }

        &--link {
          text-decoration: none;
          text-align: center;
          color: $gray-dark;
          font-size: 16px;
        }

        &:hover {
          outline: 2px solid $color-marine-bright;
          border-radius: 6px;
          height: 40px;
        }
      }
    }
  }
}
